<%= render 'shared/header' %>


<div class="container">

  <div class="about-main">
    <h1>俺のベストとは？？？</h1>
    <p>自分だけのオリジナルランキングを作って、みんなに披露しよう！！！</p>
    <p>例えば、、俺のベストアルバムランキング。</p>
    <p>例えば、、俺のベスト映画ランキング。</p>
    <p>例えば、、俺のベスト本ランキング。</p>
    <p>例えば、、俺のベストアルバム。</p>


    <a href="">ランキングを作る。</a>

  </div>
</div>



<%= render 'shared/footer' %>
