


<%= render 'shared/header' %>

<div class="about-main">

  <div class="container">

    <h1>俺のベスト10とは？？？</h1>
    <p class="mybest-english">- my best 10 -</p>

    <div class="about-contents">

        例えば、、俺のベスト<span>「アルバム」</span>ランキング<br><br>
        例えば、、俺のベスト<span>「本」</span>ランキング<br><br>
        例えば、、俺のベスト<span>「映画」</span>ランキング。<br><br>
        例えば、、俺のベスト<span>「ドラマ」</span>ランキング。<br><br><br><br>
        自分だけのオリジナルランキングを作って、みんなに披露しよう！！！<br><br>
    </div>


    <div class="about-btn">
      <%= link_to 'ランキングを作る', new_mybest_path %>
    </div>

  </div>
</div>



<%= render 'shared/footer' %>
