// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// bootstrap

.navbar {
    margin-bottom: 0!important;
}




// home.html.erb

.home-main {
  position: absolute;
  height: 80%;
  width: 100%;
  background: rgb(232, 127, 42);

  a {
    position: absolute;
    bottom: 20%;
    left: 46%;
    color: #FFF;
    padding: 15px 30px;
    border: 1px solid #FFF;
    border-radius: 3px;
    font-size: 20px;

  }

  a:hover {
    text-decoration: none;
    background: #FFF;
    color: rgb(232, 127, 42);
  }
}





.top-title {

  font-size: 150px;
  text-align: center;
  position: relative;
  top: 20%;
  font-weight: bold;
}
