// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




// home.html.erb

.home-main {
  position: absolute;
  height: 80%;
  width: 100%;
  background: rgb(232, 127, 42);

  a {
    position: absolute;
    bottom: 20%;
    left: 46%;
    color: #FFF;
    padding: 15px 30px;
    border: 1px solid #FFF;
    border-radius: 3px;
    font-size: 20px;

  }

  a:hover {
    text-decoration: none;
    background: #FFF;
    color: rgb(232, 127, 42);
    transition: .5s ease-in-out;
  }
}

.top-title {

  font-size: 150px;
  text-align: center;
  position: relative;
  top: 20%;
  font-weight: bold;
}



// about.html.erb

.about-main {

  background: #F4FAFA;
  padding-bottom: 200px;
  text-align: center;

  h1 {
    font-size: 70px;
    margin-top: 70px;
    color: #0bc8b6;
    text-align: center;
    margin-bottom: 24px;
  }
}

.mybest-english {
  color: #afbcc9;
  text-align: center;
  font-size: 30px;
  margin-bottom: 70px;

}
.about-contents {
  color: #6b7c93;
  font-size: 15px;
  margin-bottom: 70px;

  span {
    color: #0bc8b6;
    font-weight: bold;
  }
}

.about-btn {

  a {
    color: #FFF;
    background: #0bc8b6;
    padding: 13px;
    border-radius: 3px;

  }

  a:hover {
    background: #FFF;
    color: #0bc8b6;
    border: 2px solid #0bc8b6;
    text-decoration: none;
    transition: .5s ease-in-out;
    font-weight: bold;

  }
}
